/* create your plan title section */

.create-title {
	margin-top: 100px;
	text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #00BCD4;
}

.create-text {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

/* map section */

.map  {
	margin-top: 80px;
}

