/* INDEX PAGE */

/*.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/
/* nav section and hero section */

#main {
  min-height: 100%;
  margin-bottom: -200px;
}


section#hero {
  height: 700px;
  width: 100%;
  /*padding: 40px 20px 0;*/
  background-image:url("https://raw.githubusercontent.com/remember-me/rsvpeanut_styles/master/img/sxsw3.gif");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.logo-section {
  width: 100%;
  background-color: #FFFFFF;
  height: 54px;
}

.logo-image {
/*  background-image:url("https://raw.githubusercontent.com/remember-me/rsvpeanut_styles/master/img/rsz_whitelogo.png");*/
/*  background-position: 0 -192px;
  background-repeat: no-repeat;*/*/
  /*overflow: hidden;*/
  height: 192px;
  width: 165px;
  float: left;
  display: inline-block;
  margin-left: 34px;
  margin-top: 15px;
/*  border: 0;
  text-indent: -999em;
  background-color: transparent;
  text-align: left;
  direction: ltr;
    z-index: -1; position:relative*/
}

.nav-buttons {
  display: inline-block;
  margin-right: 34px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 38px;
  color: red;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Oswald";

  float: right;

}

/*.words-in-nav {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  color: #0288d1;
  padding-left: 20px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
}

.logo-section {
    background: #FFFFFF;
    height: 90px;
}


.nav-buttons {
    float: right;
    padding-right: 20px;
    display: block;
    position: relative;

}

#signin-button {
    background-color: white;
    border: 1px solid #B3E5FC;
    font-family: 'Oswald', sans-serif;
    font-size: ;
    color: #0288D1;
    margin-top: 10px;
    margin-left: 17px;
}

.hero-buttons {
  position: absolute; 
  top: 370px; 
  left: 0; 
  width: 100%; 
  text-align: center;
  margin-top: 50px;
}

#hero-button1 {
    background-color: #B3E5FC;
    border: 1px solid #B3E5FC;
    font-family: 'Oswald', sans-serif;
    color: #0288D1;
}

#hero-button2 {
    background-color: #FFFFFF;
    border: 1px solid #B3E5FC;
    font-family: 'Oswald', sans-serif;
    color: #0288D1;
}


.hero-image {
    height: 630px;
    width: 100%;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    background-repeat: none;
}


.hero-title { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 68px;
}

.hero-text { 
  margin-top: 80px;
  position: absolute; 
  top: 270px; 
  left: 0; 
  width: 100%; 
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  clear: both;
  font-size: 20px;
}

*/


/* learn more section */


.example-image {
    padding-top: 40px;
    height: 447px;
    width: 723px;
}

.section-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    color: #00BCD4;
    padding-top: 10px;
}

/* about section */

.about-section {
    padding-top: 40px;
}


.team-section {
    padding-top: 40px;
    background-color: #d3d3d3;
    height: 600px;
}

.team-pad {
    margin-left: 120px;
    padding-top: 40px;
}

.about-text {
 text-align: center;
 padding-top: 10px;
}


/* footer */

.copyright {
    text-align: center;
    color: #4d505b;
}

.footer-wrap {
    width: 100%;
    background-color: #448AFF;
    height: 200px;
}


/* MAP PAGE */

/* create your plan title section */

.create-title {
  margin-top: 100px;
  text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #00BCD4;
}

.create-text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
}

/* map section */

.map  {
  margin-top: 80px;
}


/* filter row above map */

.filter-row {
  width: 100%;
  background-color: #D3D3D3;
  height: 80px;
}
