/* nav section and hero section */

/*.container1 {
    background: #212121;
}*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
}

.hero {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
}
.hero .container2 {
display: table-cell;
text-align: center;
vertical-align: middle;
height: 500px;
/*background: #303F9F;*/
}

.logo-words {
    font-family: "Sigward";
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
    color: #212121;
}

.nav-buttons {
    float: right;
    padding-right: 20px;
}

#signin-button {
    background-color: white;
    border: 1px solid #212121;
    font-family: "Sigward";
    color: #212121;
}

.team {
    font-family: "Sigward";
    font-size: 40px;
    padding-right: 20px;
    padding-top: 10px;
    color: #212121;
}


.hero-name {
    font-family: "Sigward";
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.hero-image {
    width: 100%;
    height: 550px;
    opacity: 0.4;
}


.hero-title {
    font-family: "Sigward";
    font-size: 60px;
    font-weight: lighter;
    color: white;
}

/* learn more section */

.example-image {
    margin-left: 280px;
    padding-top: 40px;
    height: 447px;
    width: 723px;
}

.section-title {
    text-align: center;
    font-family: "Sigward";
    font-size: 48px;
    color: #212121;
}

/* founders section */

.founder-section {
    padding-top: 40px;
}

/* footer */

.copyright {
    padding-top: 60px;
    color: #4d505b;
    font-family: 'Hammersmith One', sans-serif;
}

.footer-wrap {
    height: 100px;
    background-color: #020001;
}
